--2018-04-11 10:09:53--  https://raw.githubusercontent.com/kryptxy/torrench/master/torrench.ini
Resolving raw.githubusercontent.com... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 629 [text/plain]
Saving to: 'torrench.ini'

     0K                                                       100%  187M=0s

2018-04-11 10:09:53 (187 MB/s) - 'torrench.ini' saved [629/629]

